html {
	font-family: sans-serif;
}

body {
	margin: 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 4rem;
}

h2 {
	margin-top: 0;
}

aside {
	padding: 4rem;
	border-top: 4px solid;
	border-bottom: 4px solid;
	background-color: #f8f8f8;
}
